<html>
    <head>
        <title>About</title>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Ujjal. It uses data from mapbox.com and draksky.net</p>
        <img src="images/Screenshot_20200110-142401.png" alt="" class="potrait">
        </div>
        {{>footer}}
    </body>
</html>